body {
    margin: 0;
}


#topSection {
    padding: 2rem;
    border: 1px solid black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}



h1 {
    color: aquamarine;
}

h3 {
    color: greenyellow;
}
section > p {
    color: grey;
}